USE [master]
GO
/****** Object:  Database [CycloneLensDB]    Script Date: 27/03/2026 15:47:49 ******/
CREATE DATABASE [CycloneLensDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CycloneLensDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CycloneLensDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CycloneLensDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CycloneLensDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CycloneLensDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CycloneLensDB]
GO
/****** Object:  Table [dbo].[Cycloon]    Script Date: 27/03/2026 15:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cycloon](
	[id] [int] NOT NULL,
	[naam] [varchar](15) NOT NULL,
	[bassin] [varchar](30) NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Cycloon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gebruiker]    Script Date: 27/03/2026 15:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gebruiker](
	[id] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[naam] [varchar](255) NOT NULL,
	[wachtwoord] [varchar](255) NOT NULL,
	[beheerrechten] [bit] NOT NULL,
 CONSTRAINT [PK_Gebruiker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metadata]    Script Date: 27/03/2026 15:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metadata](
	[id] [int] NOT NULL,
	[cycloon_id] [int] NOT NULL,
	[categorie] [int] NOT NULL,
	[windsnelheid] [int] NOT NULL,
	[luchtdruk] [int] NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[tijdstip] [datetime] NOT NULL,
 CONSTRAINT [PK_Metadata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cycloon] ([id], [naam], [bassin], [status]) VALUES (1, N'Demetris', N'Noord-Atlantisch', N'Inactief')
INSERT [dbo].[Cycloon] ([id], [naam], [bassin], [status]) VALUES (2, N'Orion', N'Noord-Atlantisch', N'Inactief')
INSERT [dbo].[Cycloon] ([id], [naam], [bassin], [status]) VALUES (3, N'Rorie', N'Noord-Atlantisch', N'Inactief')
GO
INSERT [dbo].[Metadata] ([id], [cycloon_id], [categorie], [windsnelheid], [luchtdruk], [latitude], [longitude], [tijdstip]) VALUES (1, 9, 2, 209, 960, 41.270347, 123.174325, CAST(N'2026-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Metadata] ([id], [cycloon_id], [categorie], [windsnelheid], [luchtdruk], [latitude], [longitude], [tijdstip]) VALUES (2, 7, 2, 121, 954, 41.3643024, 48.5260928, CAST(N'2026-02-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Metadata] ([id], [cycloon_id], [categorie], [windsnelheid], [luchtdruk], [latitude], [longitude], [tijdstip]) VALUES (3, 10, 5, 135, 951, 48.1782952, 25.3426628, CAST(N'2026-01-10T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Metadata]  WITH CHECK ADD  CONSTRAINT [FK_Metadata_Cycloon] FOREIGN KEY([cycloon_id])
REFERENCES [dbo].[Cycloon] ([id])
GO
ALTER TABLE [dbo].[Metadata] CHECK CONSTRAINT [FK_Metadata_Cycloon]
GO
USE [master]
GO
