USE [master]
GO
/****** Object:  Database [CycloneLensDB]    Script Date: 23/04/2026 12:07:41 ******/
CREATE DATABASE [CycloneLensDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CycloneLensDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CycloneLensDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CycloneLensDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CycloneLensDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CycloneLensDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CycloneLensDB]
GO
/****** Object:  Table [dbo].[Cycloon]    Script Date: 23/04/2026 12:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cycloon](
	[id] [int] NOT NULL,
	[naam] [varchar](15) NOT NULL,
	[bassin] [varchar](30) NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Cycloon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CycloonLog]    Script Date: 23/04/2026 12:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CycloonLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cycloon_id] [int] NULL,
	[gebruiker_id] [int] NULL,
	[actie] [nvarchar](255) NULL,
	[tijdstip] [datetime] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CYCLOONLOG_TIME]    Script Date: 23/04/2026 12:07:42 ******/
CREATE CLUSTERED INDEX [IX_CYCLOONLOG_TIME] ON [dbo].[CycloonLog]
(
	[cycloon_id] ASC,
	[tijdstip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gebruiker]    Script Date: 23/04/2026 12:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gebruiker](
	[id] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[naam] [varchar](255) NOT NULL,
	[wachtwoord] [varchar](255) NOT NULL,
	[beheerrechten] [bit] NOT NULL,
 CONSTRAINT [PK_Gebruiker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metadata]    Script Date: 23/04/2026 12:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metadata](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cycloon_id] [int] NOT NULL,
	[categorie] [int] NOT NULL,
	[windsnelheid] [float] NOT NULL,
	[luchtdruk] [float] NOT NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[tijdstip] [datetime] NOT NULL,
	[coordinaten] [geography] NULL,
 CONSTRAINT [PK__Metadata__3213E83F5EAEE793] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Observatie]    Script Date: 23/04/2026 12:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Observatie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gebruiker_id] [int] NULL,
	[omschrijving] [varchar](50) NOT NULL,
	[cycloon_id] [int] NOT NULL,
	[coordinaten] [geography] NOT NULL,
	[tijdstip] [datetime] NOT NULL,
	[afbeelding] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Observatie]  WITH CHECK ADD  CONSTRAINT [FK_Observatie_Gebruiker] FOREIGN KEY([gebruiker_id])
REFERENCES [dbo].[Gebruiker] ([id])
GO
ALTER TABLE [dbo].[Observatie] CHECK CONSTRAINT [FK_Observatie_Gebruiker]
GO
USE [master]
GO
