<div class="card">
    <h3>Satellietbeeld</h3>
    <p class="source">Bron: NOAA GOES-16 via publieke API</p>

    <div class="image-box">
        <img id="satImage" src="" />
    </div>

    <div class="info">
        <p>Tijdstip: <span id="time"></span></p>
        <p>Locatie: <span id="location"></span></p>
    </div>
</div>

<script src="~/js/script.js"></script>