@model Presentation.Models.GebruikerViewModel

<link rel="stylesheet" href="~/css/Registreren.css" />

<div class="auth-container">
    <h1>Account Aanmaken</h1>
    @if (ViewBag.Fout != null)
    {
        <p class="fout">@ViewBag.Fout</p>
    }
    <form method="post">
        <div class="form-group">
            <label asp-for="Gebruikersnaam">Gebruikersnaam</label>
            <input asp-for="Gebruikersnaam"/>
        </div>
        <div class="form-group">
            <label asp-for="Wachtwoord">Wachtwoord</label>
            <input asp-for="Wachtwoord" type="password"/>
        </div>
        <button type="submit">Account Aanmaken</button>
    </form>
</div>