@{
    Layout = "_Layout";
}

@section Styles {
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Your CSS -->
    <link rel="stylesheet" href="~/css/map.css" />

    <style>
        .navbar {
            background: rgba(15, 23, 42, 0.6) !important;
            backdrop-filter: blur(8px);
        }
    </style>
}

<div id="map"></div>

<div class="map-panel">
    <h6>Map Instellingen</h6>

    <label>
        <input type="checkbox" id="toggleClouds" checked>
        Wolken
    </label>

    <label>
        <input type="checkbox" id="toggleLabels" checked>
        Grenzen
    </label>

    <label>
        <input type="checkbox" id="toggleRadar" checked>
        Radar
    </label>
</div>

@section Scripts {
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Your JS -->
    <script src="~/js/map.js"></script>
}