@{
    Layout = "_Layout";
}

@section Styles {
    <style>
        .main-navbar {
            background: rgba(255, 255, 255, 0.2) !important;
        }
    </style>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Map</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Your CSS -->
    <link rel="stylesheet" href="~/css/map.css" />
</head>
<body>

    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Your JS -->
    <script src="~/js/map.js"></script>

</body>
</html>

